.featured {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 20px;
  padding: 3.5rem 0 !important;
  z-index: 1;
}

.featured-item:nth-child(1) {
  grid-column: 1 / -1;
}

.featured-item:nth-child(2) {
  grid-column: 1 / 5;
}

.featured-item:nth-child(3) {
  grid-column: 5 / 8;
}

.featured-item:nth-child(4) {
  grid-column: 8 / -1;
}

.featured-item:nth-child(5) {
  grid-column: 1 / 6;
}
.featured-item:nth-child(6) {
  grid-column: 6 / -1;
}



.featured-item {
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
  flex: 1
}

.featured-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .6);
  transition: .5s ease-in-out;
  transition-delay: .52s;
  cursor: pointer;
}

.featured-item:hover::before {
  background-color: rgba(0, 0, 0, .3);
  opacity: 0.2;
}

.featured-item-content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 20px;
}

.featured-item-content h1 {
  font-size: 1.2rem;

}


.featured-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}