.header {
  background-color: var(--color-blue);
  display: flex;
  justify-content: center;
}

.header-list {
  display: flex;
  gap: 40px;
  padding:2rem  0;
}

.header-list-item {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  cursor: pointer;
  transition: .5s ease;
  border-radius: 20px;
  font-weight: var(--meduim-font);
}
.header-list-item:hover {
  padding: 10px;
}
.header-list-item:first-child{
  padding: 10px;
  border: .5px solid var(--color-white);
}

.header-title {
  padding: 0 0 2rem 0;
}

.header-title h1 {
  margin: 20px 0;
  font-size: 2rem;
}

.header-title p {
  font-size: 1.2rem;
  font-weight: var(--meduim-font);
  margin-bottom: 2rem;
}
.header-button {
  background-color: var(--color-blue-secondary);
  color: var(--color-white);
  font-weight: var(--meduim-font);
  border: none;
  padding: 10px 20px; cursor: pointer;
  margin-bottom: 2rem;
  border-radius: 20px;
  font-size: 1.1rem;
}

.header-search {
  height: 30px;
  background-color: var(--color-white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 3px solid var(--color-yellow);
  padding: 30px 0;
  border-radius: 5px;
  position: absolute;
  width: 100%;
  bottom: -30px;
  margin-top: 20px;
}
.header-search-field {
  display: flex;
  align-items: center;
  gap: 10;
}
.header-search-field input {
  border: none;
  outline: none;
}
.header-search-field .date {
  position: absolute;
  top: 50px;
}
.header-search-field input::placeholder,
.header-search-field span {
  color: lightgray;
  cursor: pointer;
  font-size: 1rem;
  font-weight: var(--normal-font);
  text-transform: capitalize;
}

.header-search .search-icon {
  color: lightgray;
  margin-right: calc(1rem - 6px);
  font-size: 1.2rem;
}

.search-button {
  background-color: var(--color-blue-secondary);
  color: var(--color-white);
  font-weight: var(--meduim-font);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 1.1rem;
}
